body {
  margin: auto;
  color: #ccc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

#content {
  height: 100%;
width: 400px;
}

article {
  display: flex;
}

header  {
  color: #000000;
}
ul {
  list-style: none;
  
}

li {
  text-transform: capitalize;
  border: solid grey 1px;
  margin: -1px;
  background: rgb(50, 68, 75);
  padding: 8px;
}

div {
  justify-content: center;
  display: inline-block;
 
}

.strikethrough {
  
  transition: ease-in 100ms;
}
/*text-crossout*/
input[type=checkbox]:checked + label.strikethrough{
  transition: 1s;
  text-decoration: line-through;
  
}

p{
  display: inline-block;
  
}
/* add button */
button {
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

/*time*/
#todo{
  font-size: 20px;
 margin-left: 95px;
 position: relative;
  background: none;
  color: #ccc;
  border: 1px solid #ccc;
}
/*dropdown*/
.right select {
  font-size: 1rem;
  background: #ccc;
  color:#32444b;
  width: 20px;
  height: 20px;
  border: none;
}

/*checkbox*/

.checkbox-button {
  transition: 1s;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  padding-left: 33px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-text {
  
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 17px;
}

.checkbox-button input {
  
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  transition: ease 1s;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: #eee;
  transition: box-shadow 0.30s ease;
}

.checkbox-button:hover input ~ .checkmark {
  background-color: #ccc;
  box-shadow: 1px 1px 6px 9px rgba(9, 3, 24, 0.2);
}

.checkbox-button input:checked ~ .checkmark {
  background-color: #000000;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-button input:checked ~ .checkmark:after {
  display: block;
}



.checkbox-button .checkmark:after {
  left: 8px;
  top: 3px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}